<html>
    <head>
        <title>React on Node</title>
        <base href="/">
        <link type="text/css" rel="stylesheet" href="public/styles.css" />
    </head>
    <body>
       <%- body %>
    </body>
    <script type="text/javascript">
        window.__state = '<%- state %>';
    </script>
</html>